<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="channel" value="70"/>
      <add key="timer" value="5"/>
      <add key="width" value="30"/>
      <add key="length" value="20"/>
      <add key="port" value="20"/>
      <add key="192.168.1.13" value="0;0"/>
      <add key="192.168.1.14" value="5;0"/>
      <add key="192.168.1.15" value="0;5"/>
    </appSettings>
</configuration>